<footer class="footer-small fp-active" data-block-type="footers" data-id="6">
  <div class="container">
    <div class="row text-center">
      <div class="col fr-box" role="application" style="z-index: 10000;"><div class="fr-wrapper" dir="auto"><div class="fr-element fr-view" dir="auto" contenteditable="true" aria-disabled="false" spellcheck="true"><p>© 2018 Froala. All Rights Reserved</p></div></div></div>
    </div>
  </div>
</footer>
