<section class="bg-cover" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/blue.svg);">
  <div class="py-32 max-w-6xl mx-auto">
    <div class="text-center text-gray-100">
      <div class="" style="z-index: 10000;">
        <h1 class="text-5xl font-semibold">Contact Us</h1>
        <h2 class="text-4xl font-semibold">We love to hear from you!</h2>
      </div>
    </div>

    <div class="mt-6">
      <div class="">
        <form class="flex flex-wrap justify-between">
          <div class="sm:w-1/3 w-full">
            <p class="px-4">
              <input class="w-full form-input" type="text" placeholder="Name" value="">
            </p>
          </div>
          <div class="sm:w-1/3 w-full sm:mt-0 mt-10">
            <p class="px-4">
              <input class="w-full form-input" type="email" placeholder="Email" value="">
            </p>
          </div>
          <div class="sm:w-1/3 w-full sm:mt-0 mt-10">
            <p class="px-4">
              <input class="w-full form-input" type="tel" placeholder="Phone (optional)" value="">
            </p>
          </div>
          <div class="w-full mt-10">
            <p class="px-4">
              <input class="w-full form-input" type="email" placeholder="Subject" value="">
            </p>
          </div>
          <div class="w-full mt-10">
            <p class="px-4">
              <textarea class="w-full form-textarea" placeholder="How can we help?" value=""></textarea>
            </p>
          </div>
          <div aria-disabled="false" class="w-full mt-10">
            <p class="text-center">
              <button class="btn btn-dark" type="submit">Submit</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
